# Machine Learning Libraries
numpy
pandas
scikit-learn
xgboost
lightgbm

# Data Processing
requests
beautifulsoup4

# Visualization
matplotlib
seaborn
plotly


# Deployment
flask
django
gunicorn
fastapi
uvicorn
mlflow

# Utilities
pytest
pytest-cov
jupyterlab

# Optional
pydantic
joblib


gdown
google-generativeai